.container {
  max-width: 1180px;
  margin: auto;
  animation-name: movement;
  animation-duration: 2s;
}

.list__question {
  margin: 40px 0px;
  display: flex;
}

.tabs__wrap {
  width: 100%;
}

.tabs__list {
  display: flex;
}

.tab__nav {
  margin-right: 20px;
}

.tab__panel--collapse {
  margin-left: 20px;
}

.collapse__item {
  background: #fff;
  border-radius: 6px;
}

.collapse__item + .collapse__item {
  margin-top: 10px;
}

.collapse__header {
  font-size: 16px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  color: #003553;
  justify-content: space-between;
  border-radius: 4px;
  cursor: pointer;
}

.collapse__content {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapse__content--box {
  padding: 16px;
  border-top: 1px solid #d9d9d9;
  color: rgba(0, 0, 0, 0.85);
  color: #003553;
}

.collapse__content--title {
  margin-bottom: 16px;
}

.showHideModal {
  display: block;
}

@keyframes movement {
  from {
    opacity: 0;
    margin-top: 300px;
  }
  to {
    opacity: 1;
    margin-top: 40px;
  }
}
