.register {
  min-height: 100vh;
  position: relative;
}

.register--wrapper {
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f1eff2;
  margin: 0px -15px;
}

.register--content {
  flex: 0 0 50%;
  max-width: 50%;
}

.register--content__header {
  width: 500px;
  max-width: 85%;
  margin: 15px auto;
}

.header--iconBack {
  text-align: left;
}

.header--logo {
  text-align: center;
}

.register--body {
  max-width: 450px;
  margin: 0 auto;
  padding: 10px 28px;
}

.register--form__content {
}

.content--title__section {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.content--wrapper__input {
}

.input--item {
  display: flex;
  flex-direction: column;
  position: relative;

  div {
    position: relative;
  }
}

.customInput {
  height: 50px;
  font-size: 14px;
  margin-top: 24px;
  border-radius: 6px;
  padding: 20px;
  width: 100%;
  border: 1px solid #999;

  &:focus {
    color: #495057;
    background-color: #fff;
    border: 2px solid #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.react--tel__input > .customInput {
  font-weight: 700;
}

.showHideIcon {
  position: absolute;
  top: 50%;
  right: 20px;
}

.text--danger {
  position: absolute;
  color: red;
  top: 76px;
}

.customFont {
  font-size: 15px;
  text-align: center;
  margin: 20px 0px;
  color: rgb(97, 97, 97);
}

.customFont a {
  color: #1da1f2;
}

.register-btn {
  background-color: #1da1f2;
  color: #fff;
  padding: 16px 20px;
  border-radius: 3px;
  text-transform: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  width: 100%;
}

.register--bg {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.register--bg__img {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(https://id-v121.medpro.com.vn/static/media/cover-14.cdc08a1d.jpg);
  background-size: cover;
  background-position: 50%;
}

.img-shape {
  position: absolute;
  background-color: #f1eff2;
  height: 100%;
  width: 50px;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 5% 100%, 0 100%);
}
