.wapper {
  padding: 20px;
}

.header {
  border-bottom: 1px solid #999;
  padding: 10px 0px;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(92, 105, 227);
}

.wrapper-input {
  margin: 20px 0px;
}

.input-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;

  div {
    width: 100%;
  }
}

.input-lable {
  padding-left: 8px;
  font-size: 16px;
  color: #666;
}

.customInput {
  height: 50px;
  font-size: 14px;
  border-radius: 6px;
  padding: 0px 20px;
  width: 100%;
  min-width: 250px;
  border: 1px solid #999;

  &:focus {
    color: #495057;
    background-color: #fff;
    border: 2px solid #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}
.select-option {
  padding: 6px 0px;
  cursor: pointer;
}

.label-uploadImage {
  padding: 10px 20px;
  background-color: #ddd;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.actionBtn {
  margin-top: 20px;

  Button {
    height: 50px;
    width: 120px;
  }
}
