.search {
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.form-content {
  display: flex;
  align-items: center;
  width: 752px;
  height: 52px;
  background-color: #fff;
  box-shadow: 4px 8px 30px rgba(192, 202, 214, 0.35);
  overflow: hidden;
  border-radius: 16px;
  padding: 14px;
}
.search-result {
  width: 100%;
}
.search-result-list {
  max-height: 200px;
  overflow: auto;
  width: 100%;
}

.search-result-item {
  max-height: 200px;
  padding: 6px 20px;
  width: 100%;
  cursor: pointer;
}

.search-item {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.search-item:first-child {
  width: 530px;
}
.search-item:last-child {
  padding-left: 10px;
}

.item-icon {
  font-size: 20px;
}

.input-item {
  width: 100%;
  height: 100%;
  padding: 10px 12px;
}

.loading,
.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
  right: 0px;
  background: transparent;
}

.clear {
  padding: 10px;
  cursor: pointer;
}
.loading {
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
