// AppointmentDoctorDetail

.AppointmentDoctorDetail {
  background: #e8f2f7;
  min-height: 65vh;
  color: #003553;
}

.breadcrumb {
  max-width: 1180px !important;
  margin: auto;
  padding-right: 0;
  padding-left: 0;
}

.breadcrumb-list {
  display: flex;
  padding: 20px 0;
  list-style: none;
  align-items: center;
  font-weight: 600;
  white-space: nowrap;
  margin: 0;
  width: 100%;
}
.breadcrumb-item {
  display: flex;
  align-items: center;
  color: #003553;
  font-size: 16px;
  font-weight: 600;
}

.breadcrumb-item:last-child a {
  color: #47bfff;
}

.container {
  max-width: 1140px;
  min-height: 300px;
  width: 100%;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  gap: 30px;
}

.panelsHeader {
  flex: 1;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 30px 0 rgba(116, 157, 206, 0.2);
  overflow: hidden;
  padding-bottom: 3px;
}

.booking-title {
  background: #1da1f2;
  color: #fff;
  padding: 12px 16px;
  background: linear-gradient(36deg, #00b5f1, #00e0ff);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.chooseBookingInfo {
  background-color: red;
  flex: 3;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 30px 0 rgba(116, 157, 206, 0.2);
  margin-bottom: 20px;
  overflow: hidden;
}
.chooseBooking-title {
  background: #1da1f2;
  color: #fff;
  padding: 12px 16px;
  background: linear-gradient(36deg, #00b5f1, #00e0ff);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.card-body {
  margin-top: 15px;
  padding: 20px;
}

.search {
  padding: 0px 10px;
}

.search-wrapper {
  display: flex;
  width: 100%;
}

.search-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6.5px 11px;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  &:hover {
    border-color: #47bfff;
    border-right-width: 1px;
    z-index: 1;
  }

  &:focus-within {
    border-color: #47bfff;
    box-shadow: 0 0 0 2px rgba(29, 161, 242, 0.2);
    border-right-width: 1px;
    outline: 0;
  }
}

.search-input input {
  width: 100%;
  background-color: #fafafa;
  font-size: 16px;
  padding: 4px 0px;
}

.clear {
  cursor: pointer;
  padding: 0px 5px;
  color: rgba(22, 24, 35, 0.34);
  background: transparent;
}

.search-btn {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  font-size: 14px;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 6.5px 11px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    border-color: #47bfff;
    border-right-width: 1px;
    z-index: 1;
  }

  &:focus-within {
    border-color: #47bfff;
    box-shadow: 0 0 0 2px rgba(29, 161, 242, 0.2);
    border-right-width: 1px;
    outline: 0;
  }
}

.select-filter {
  display: flex;
}

.filter-item {
  color: red;
}
